#contact {
    background-color: #BAA49B;
    margin-bottom: 50px;
    position: relative;
    display: flex;
    align-items: center;

    @media (min-width: $md-screen) {
        height: calc(100vh - 125px);
    }

    #contact-container {
        width: 75%;
        margin: 0 auto;

        @media (min-width: $md-screen) {
            display: flex;
            justify-content: space-around;
        }

        #info-container {

            @media (min-width:$md-screen) {
                margin-right: 10px;
            }        

            @media (min-width:$xl-screen) {
                margin-left: 30px;
            }

            div a {
                display: flex;
                align-items: center;
                font-family: $highlight-font-type;
                font-size: 1rem;
                color: $secondary-font-color;
                text-decoration: none;

                @media (min-width:$md-screen) {
                    font-size: 1.4rem;
                }
            }

            .contact-icons {
                width: 30px;
                margin: 11px 12px 11px 5px;
            }
        }

        #form-container {
            display: flex;
            flex-direction: column;

            @media (min-width:$md-screen) {
                margin-left: 10px;
                width: 50%; 
            }
            
            @media (min-width:$xl-screen) {
                margin-right: 30px;
            }

            input {
                font-family: $primary-font-type;
                margin: 10px 0px;
                padding: 5px;
                background-color:$input-bkgd-color;
                color: $primary-font-color;
            }

            .sub-icon {
                float: right;
                margin-right: 16px;
                margin-top: -34px;
                color: $secondary-font-color;
            }

            textarea {
                font-family: $primary-font-type;
                background-color: $input-bkgd-color;
                margin: 10px 0px;
                padding: 5px;
                height: 100px;
                resize: none;
            }

            input[type=text], textarea {
                outline: none;
                border: 1px solid $border-color;
            }

            input[type=text]:focus, textarea:focus {
                box-shadow: 0 0 5px $secondary-shadow-color;
                border: 1px solid $secondary-shadow-color;
            }

            ::-webkit-input-placeholder {
                color: $secondary-font-color;
            }

            #email {
                text-align: center;

                button {
                    font-family: $highlight-font-type;
                    background-color: #BAA49B;
                    font-size: 1.5rem;
                    margin: 10px auto;
                    padding: 10px;
                    box-shadow: 0 0 5px $secondary-shadow-color;
                    border: 1px solid #DDDDDD;
                }

                button:focus {
                    box-shadow: 0 0 5px $secondary-shadow-color;
                    border: 1px solid $secondary-shadow-color;
                }
            }
        }
    }  
}