header {
    background-color: $header-bkgd-color;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 100;
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5%;
        height: 75px;

        @media (min-width:$md-screen) {
            padding: 0 2%;
        }
    
        #nav-logo {
            height: 30px;

            @media (min-width:$md-screen) {
                height: 50px;
            }
        }

        ul {
            display: flex;

            li {
                list-style: none;
                padding: 10px;
                margin: 5px;

                a {
                    color: $primary-font-color;
                    font-family: $highlight-font-type;
                    text-decoration: none;

                    @media (min-width:$md-screen) {
                        font-size: 1.5rem;
                    }
                }

                a:hover {
                    color: #DCEED1;
                }
            }
        }
    }
}