#home {
    height: calc(100vh - 125px);

    #hero-img {
        background-image: url('../assets/hero-banner.png');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        height: 200px;
        padding: 20% 0;
        width: 80%;
        margin: 0 auto;
    }
}