#home {
    height: calc(100vh - 125px);
    display: flex;
    align-items: center;
    justify-content: center;

    #hero-img {
        background-image: url('../assets/hero-banner.png');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        height: 200px;
        width: 80%;
    } 
}