#portfolio {
    background-color: $portfolio-bkgd-color;
    position: relative;
    display: flex;
    padding-bottom: 0px;

    @media (min-width:$md-screen) {
        height: $section-height;
        padding-bottom: 40px;
    }

    #portfolio-grid {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 40px 50px 0px;

        @media (min-width:$md-screen) {
            flex-wrap: wrap;
            margin: 0 auto;
            padding-right: 20px;
            justify-content: center;
            margin-top: 40px;
        }

        @media (min-width:$xl-screen) {
            padding-right: 100px;
        }

        li {
            width: 70%;
            margin: 0px 25px;

            @media (min-width: $md-screen) {
                width: 30%;
            }

            @media (min-width:$xl-screen) {
                padding: 5px;
            }

            figure.sample-caption {
                position: relative;
                margin: 0;
                

                img {
                    padding: 20px;
                    background-color: #6d827e;
                    box-shadow: 2px 2px 5px rgba(97,116,112,1);
                    display: block;
                    width: 100%;
                    height: 180px;
                    margin: 10px 0px;
                }

                @media (min-width:$xl-screen) {
                    margin: 20px 0px;
                }

                figcaption.sample-caption-text {
                    opacity: 0;
                    position: absolute;
                    width: 100%;
                    height: 180px;
                    left: 20px;
                    bottom: 20px;
                    padding: 0.75em;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    background-color: rgba(198,214,188,1);
                    -webkit-transition: opacity .3s ease-in-out;
                    transition: opacity .3s ease-in-out;

                    h4 {
                        font-family: $highlight-font-type;
                        font-size: 1.4rem;
                        padding: 5px 0px;
                        color: $primary-font-color;
                    }

                    p {
                        color: $primary-font-color;
                        font-size: 0.7rem;
                    }

                    .tools {
                        color: $secondary-font-color;
                        padding: 5px 0px;
                    }
                }
            }

            .sample-caption:hover .sample-caption-text, .sample-caption:active .sample-caption-text, {
                opacity: 1;
            }
        }
    }
}