$header-bkgd-color: #736372;
$footer-bkgd-color: #736372;
$portfolio-bkgd-color: #7A918D;
$contact-bkgd-color: #AAC0AA;
$section-bkgd-color: #DCEED1;

$primary-font-type: 'Questrial', sans-serif;
$highlight-font-type: 'Sacramento', cursive;



//Global Styles 
body {
    font-family: $primary-font-type;
}

h2 {
    background-color: $section-bkgd-color;
    font-family: $highlight-font-type;
    width: 10%;
    padding: 10px;    
    font-size: 2em;
    font-weight: normal;
    text-align: center;
}


//Partial imports
@import 'partials/header';
@import 'partials/hero';
@import 'partials/about';
@import 'partials/portfolio';
@import 'partials/contact';
@import 'partials/footer';



// :target:before {
//     display: block;
//     content: "";
// }

